<ul class="menu">
  <li class="<%= active_class(root_path) %>"><%= link_to "Home", root_path %></li>
  <li class="<%= active_class(articles_path) %>"><%= link_to "Articles", articles_path %></li>
  <li class="<%= active_class(posts_path) %>"><%= link_to "Posts", posts_path %></li>
</ul>
